body {
    margin: 0;
    font-size: 12pt;
    font-family: 'Titillium Web', sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 24pt;
}

h3 {
    font-size: 16pt;
}

h1, h2, h3 {
    font-weight: 400;
    color: #2d7363;
    margin: 0.5em 0;
}

.center {
    text-align: center;
}

a.bigbutton {
    background-color: #b48826;
    padding: 0.7em;
    font-weight: 600;
    color: #fff;
    border-radius: 2em;
    text-align: center;
    transition: background-color .2s;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    -ms-transition: background-color .2s;
}

a.bigbutton:hover {
    background-color: #bf9c4c;
}

header .above a.withborder{
    border: 0.1em solid;
    border-radius: 5em;
    padding: 0em 0.7em;
}

input[type="checkbox"].hidden {
    display: none;
}

header {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: sticky;
    position: -o-sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;
}

header .bar .logo{
    flex: 1;
    display: flex;
}

header .bar .logo a{
    align-self: center;
    margin-left: 2em;
}

header .bar .logo h2 {
    font-size: 18pt;
    margin: 0;
}

header .bar {
    display: flex;
    height: 6em;
    border-bottom: 1px solid #2d7363;
}

header .hamburger {
    padding: 1.7em;
    align-self: center;
}

header .hamburger div {
    padding: 0.12em 0.9em;
    background-color: #2d7363;
    margin: 0.2em 0;
}

header .above{
    background-color: #dfe9e7;
    min-width: 100%;
    padding: 0.7em 5em 0.7em 1em;
    text-align: right;
}

header .above a{
    color: #2d7363;
    margin: 0 1em;
    font-weight: 600;
    position: relative;
    font-size: 11pt;
    padding: 0.3em 0;
}

nav {
    transition: max-height .4s, opacity .4s;
    -webkit-transition: max-height .4s, opacity .4s;
    -moz-transition: max-height .4s, opacity .4s;
    -o-transition: max-height .4s, opacity .4s;
    -ms-transition: max-height .4s, opacity .4s;
    opacity: 1;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    z-index: 10;
    background-color: #fff;
    overflow: hidden;
    width: 100%;
}

nav a {
    transition: padding .4s;
    -webkit-transition: padding .4s;
    -moz-transition: padding .4s;
    -o-transition: padding .4s;
    -ms-transition: padding .4s;
    text-decoration: none;
    position: relative;
    display: block;
    width: 100%;
    padding: 0.5em 1em;
    font-weight: 400;
    color: #2d7363;
    font-size: 11pt;
}

nav .small{
    font-weight: 200;
    font-size: 10pt;
    padding: 0.5em 1.1em;
}

footer{
    font-size: 11pt;
    text-align: center;
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer .footerwrapper{
    position: relative;
    overflow: hidden;
    height: 25em;
}

footer .footerwrapper .grasflow{
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 5;
    display: block;
}

footer .footerwrapper .gras{
    display: block;
    width: 200%;
    transform: translateX(-30%);
}

footer .footerwrapper .items,
footer .footerwrapper .copyright{
    position: absolute;
}

footer .footerwrapper .items{
    top: 50%;
    display: flex;
    width: calc(100% - 2em);
    margin: 1em;
    justify-content: center;
    transform: translateY(-50%);
}

footer .footerwrapper .items > div{
    text-align: left;
}

footer .footerwrapper .items a,
footer .footerwrapper .items h3,
footer .footerwrapper .items p{
    color: #fff;
}

footer .footerwrapper .copyright{
    bottom: 0;
    left: 0;
    margin: 0.5em;
    color: #fff;
    width: calc(100% - 1em);
    text-align: center;
}

.banner {
    overflow: hidden;
    position: relative;
}

.banner .natas{
    width: 100%;
    position: absolute;
    top: 16%;
    margin: 0 1em;
}

.banner .natas img{
    width: 15%;
    border-radius: 1em;
    display: block;
}

.banner h1.title {
    position: absolute;
    color: #cacaca;
    top: 74%;
    width: calc(100% - 1em);
    transform: translateY(-50%);
    margin: 0 0.5em;
    text-align: center;
    z-index: 5;
}

.banner img {
    width: 200%;
    transform: translateX(-30%);
}

.banner .overlay {
    position: absolute;
    bottom: 0;
    z-index: 3;
}

#reservebutton {
    display: block;
}

.home-content {
    display: flex;
    margin: 0 1em;
    flex-direction: column;
}

.home-content h2, .home-content h3 {
    display: inline-block;
    line-height: 1em;
    margin: 1em auto;
}

main .items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 70em;
    margin: 0 auto;
}

main .items>div {
    flex: 1;
    margin: 0.5em 0;
    background-color: #faf8f3;
    min-width: 17em;
    border-radius: 1em;
}

main .items>div img {
    width: 100%;
    display: block;
    border-radius: 1em 1em 0 0;
}

main .items>div>div {
    padding: 1em 1.5em;
}

main .items h3 {
    font-size: 14pt;
    margin: 0;
}

main .items p {
    line-height: 1.4em;
    margin: 0.5em 0;
    white-space: pre-wrap;
    text-align: justify;
}

.bigbutton.reserve {
    padding: 0.5em 1em;
}

@media only screen and (max-width: 979px) {
    nav {
        max-height: 30em;
    }
    #shownav:checked~nav {
        max-height: 0;
        padding: 0;
        opacity: 0;
    }
    .desktop {
        display: none;
    }

    .home-content .bigbutton{
        display: block;
        min-width: 18em;
        margin: auto;
    }

    .banner h1.title{
        width: calc(100% - 1em);
        margin: .5em;
        text-align: center;
        top: 58%;
    }
}

@media only screen and (min-width: 980px) {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .banner img {
        width: 100%;
        transform: none;
    }

    header .bar {
        border-bottom: none;
    }

    header .hamburger {
        display: none;
    }
    
    nav {
        display: block;
        opacity: 1;
        flex: 1;
        padding: 0;
        display: flex;
        position: relative;
        justify-content: flex-end;
        align-items: center;
        margin-right: 5em;
    }
    
    nav a {
        text-align: center;
        width: unset;
        display: inline-block;
        margin: 0 0.7em;
        padding: 0.4em 0;
        font-weight: 600;
    }

    nav a::after, .above a::after {
        border-bottom: 0.15em solid;
        content: "";
        position: absolute;
        width: 0;
        bottom: 0;
        transition: width .2s, left .2s, opacity .1s;
        -webkit-transition: width .2s, left .2s, opacity .1s;
        -moz-transition: width .2s, left .2s, opacity .1s;
        -o-transition: width .2s, left .2s, opacity .1s;
        -ms-transition: width .2s, left .2s, opacity .1s;
        left: 50%;
        opacity: 0;
        border-radius: 0.1em;
    }
    nav a:not(.bigbutton):hover::after, nav a.current::after,
    .above a:not(.withborder):hover::after {
        width: 100%;
        left: 0;
        opacity: 1;
    }
    .mobile {
        display: none;
    }
    main .items {
        flex-direction: row;
    }
    main .items>div {
        margin: 0.5em;
    }
    
    header .bar .logo a {
        margin-left: 5em;
    }

    footer .footerwrapper {
        height: 35em;
    }

    footer .footerwrapper .gras{
        width: 100%;
        position: absolute;
        transform: none;
        bottom: 0;
    }

    footer .footerwrapper .items{
        transform: translateY(calc(-50% - -3em));
    }
}