{{> head}}
<div class="content">
    <h2>Dashboard</h2>
    <div class="dashboard">
        {{#items}}
            <a href="/admin/{{url}}">{{name}}</a>
        {{/items}}
    </div>
</div>
{{> footer}}