{{> head}}
<div class="notfound">
    <h1>Pagina niet gevonden</h1>
    <p>U bent naar een pagina geleid die niet bestaat.</p>
    <a class="bigbutton" href="/">Keer terug naar de homepagina</a>
</div>
{{> footer}}