</main>
    <footer>
        <div class="footerwrapper">
            <img class="grasflow" src="/img/gras-overlay.png"> 
            <div class="items">
                <div>
                    <h3>Contact</h3>
                    <p>
                        <a href="/">HomeWatchers.nl</a><br>
                        Vossenlaan<br>
                        Nijmegen<br>
                        The Netherlands<br>
                        <br>
                        Postbus 31266<br>
                        6503 CG Nijmegen<br>
                        The Netherlands<br>
                        <a href="mailto:info@homewatchers.nl">info@homewatchers.nl</a><br>
                        <a href="tel:+31 481 450 315">+31 (0)481 450 315</a><br>
                        <br>
                        <a href="/privacy-verklaring">Privacy verklaring</a>
                    </p>
                </div>
            </div>
            <span class="copyright">Copyright © <span id="currentyear"></span> HomeWatchers.nl, alle rechten voorbehouden I KvK 66974178</span>
        </div>
    </footer>
    <script src="/js/index.js"></script>
</body>
</html>