body {
    margin: 0;
    font-size: 12pt;
    font-family: 'Titillium Web', sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 24pt;
}

h3 {
    font-size: 16pt;
}

h1, h2, h3 {
    font-weight: 400;
    color: #2d7363;
    margin: 0.5em 0;
}

input, textarea{
    resize: none;
    background-color: #fff;
    border: 0.1em solid #f0f0f0;
    padding: 0.6em 0.4em;
    font-size: 12pt;
    font-family: 'Titillium Web', sans-serif;
    border-radius: 0.5em;
    -webkit-appearance: none;
    position: relative;
}

input[type="submit"],
input[type="button"]{
    background-color: #b48826;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color .2s;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    -ms-transition: background-color .2s;
}

input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #bf9c4c;
}

input[type="submit"]{
    margin-top: 1em;
}

form label{
    margin: 0 0.5em;
    display: block;
}

form input{
    display: block;
    margin: 0.5em 0.2em;
    width: calc(100% - 0.4em);
}

form .errors{
    margin: 0;
    padding: 0;
}

form .errors li{
    color: red;
    display: block;
    font-weight: bold;
    margin: 0.5em;
}

.center {
    text-align: center;
}

a.bigbutton {
    background-color: #b48826;
    padding: 0.7em;
    font-weight: 600;
    color: #fff;
    border-radius: 2em;
    text-align: center;
    transition: background-color .2s;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    -ms-transition: background-color .2s;
}

a.bigbutton:hover {
    background-color: #bf9c4c;
}

header .above a.withborder{
    border: 0.1em solid;
    border-radius: 5em;
    padding: 0em 0.7em;
}

input[type="checkbox"].hidden {
    display: none;
}

header {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: sticky;
    position: -o-sticky;
    top: 0;
    z-index: 20;
    background-color: #fff;
}

header .bar .logo{
    flex: 1;
}

header .bar .logo h2 {
    font-size: 18pt;
    margin-left: 1em;
    margin: 0.9em;
    vertical-align: middle;
}

header .bar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 5em;
    border-bottom: 1px solid #2d7363;
    align-items: center;
}

header .hamburger {
    padding: 1.7em;
    align-self: center;
}

header .hamburger div {
    padding: 0.12em 0.9em;
    background-color: #2d7363;
    margin: 0.2em 0;
}

header .above{
    background-color: #dfe9e7;
    min-width: 100%;
    padding: 0.7em 5em 0.7em 1em;
    text-align: right;
}

header .above a{
    color: #2d7363;
    margin: 0 1em;
    font-weight: 600;
    position: relative;
    font-size: 11pt;
    padding: 0.3em 0;
}

nav {
    transition: max-height .4s, opacity .4s;
    -webkit-transition: max-height .4s, opacity .4s;
    -moz-transition: max-height .4s, opacity .4s;
    -o-transition: max-height .4s, opacity .4s;
    -ms-transition: max-height .4s, opacity .4s;
    opacity: 1;
    position: absolute;
    display: -webkit-box;   display: -webkit-flex;   display: -ms-flexbox;   display: flex;
    flex-wrap: wrap;
    z-index: 10;
    background-color: #fff;
    overflow: hidden;
    width: 100%;
}

nav a {
    transition: padding .4s;
    -webkit-transition: padding .4s;
    -moz-transition: padding .4s;
    -o-transition: padding .4s;
    -ms-transition: padding .4s;
    text-decoration: none;
    position: relative;
    display: block;
    width: 100%;
    padding: 0.5em 1em;
    font-weight: 400;
    color: #2d7363;
    font-size: 11pt;
}

nav .small{
    font-weight: 200;
    font-size: 10pt;
    padding: 0.5em 1.1em;
}

main{
    min-height: calc(100vh - 27.9em);
}

footer{
    font-size: 11pt;
    text-align: center;
    display: block;
    bottom: 0;
    width: 100%;
}

footer .footerwrapper{
    position: relative;
    background-image: url(/img/footer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

footer .footerwrapper .grasflow{
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 5;
    display: block;
}

footer .footerwrapper .gras{
    display: block;
    width: 200%;
    transform: translateX(-30%);
}

footer .footerwrapper .items,
footer .footerwrapper .copyright{
}

footer .footerwrapper .items{max-width: 65em;margin: 4em 0.5em 1em;max-width: 64em;}

footer .footerwrapper .items > div{
    text-align: left;
}

footer .footerwrapper .items a,
footer .footerwrapper .items h3,
footer .footerwrapper .items p{
    color: #fff;
}

footer .footerwrapper a:hover{
    text-decoration: underline;
}

footer .footerwrapper .copyright{
    bottom: 0;
    left: 0;
    margin: 0.5em;
    color: #fff;
    width: calc(100% - 1em);
    text-align: center;
}

.banner {
    overflow: hidden;
    position: relative;
}

.banner .natas{
    width: 100%;
    position: absolute;
    top: 16%;
    margin: 0 1em;
}

.banner .natas img{
    width: 15%;
    border-radius: 1em;
    display: block;
}

.banner h1.title {
    position: absolute;
    color: rgba(255, 255, 255, 0.6);
    top: 74%;
    width: calc(100% - 1em);
    transform: translateY(-50%);
    margin: 0 0.5em;
    text-align: center;
    z-index: 5;
}

.banner img {
    width: 200%;
    transform: translateX(-30%);
}

.banner .overlay {
    position: absolute;
    bottom: 0;
    z-index: 3;
}

#reservebutton {
    display: block;
}

.content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0.5em;
    max-width: 60em;
    flex-direction: column;
    position: relative;
    margin: auto;
}

.content h2, .content h3 {
    display: inline-block;
    line-height: 1em;
    margin: 1em auto;
    text-align: center;
}

main .items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    max-width: 70em;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
}

main .items>div {
    flex: 1;
    margin: 0.5em 0;
    background-color: #faf8f3;
    min-width: 15em;
    border-radius: 1em;
    max-width: 40em;
    margin: 0.5em;
}

main .items>div img {
    width: 100%;
    display: block;
    border-radius: 1em 1em 0 0;
}

main .items>div>div {
    padding: 1em;
}

main .items h3 {
    font-size: 14pt;
    margin: 0;
}

main .items p {
    line-height: 1.4em;
    margin: 0.5em 0;
    white-space: pre-wrap;
    text-align: justify;
}

main .items p::first-letter{
    font-size: 14pt;
    font-weight: bold;
    color: #2d7363;
    margin-right: 0.05em;
}

.content a.aanvraaginfo{
    z-index: 3;
    margin: 1em 0.5em;
    display: block;
    max-width: 25em;
    align-self: center;
    width: calc(100% - 2em);
}

.bigbutton.reserve {
    padding: 0.5em 1em;
}

.items .small{
    max-width: 25em;
}

.items form{
    margin: 0.5em;
}

.dashboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.5em;
}

.dashboard a{
    padding: 1em;
    flex: 1;
    margin: 0.3em;
    max-width: 21em;
    text-align: center;
    background-color: #faf8f3;
    color: #2d7363;
    border-radius: 1em;
    min-width: 15em;
}

.banner .bannertitle{
    background-color: #ffffff75;
    color: #fff;
    position: absolute;
    top: 68%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 5;
    width: 100%;
    max-width: 30em;
    left: 50%;
    font-size: 14pt;
}

.content input.pagetitle{
    align-self: center;
    max-width: 30em;
    min-width: 15em;
    text-align: center;
    font-size: 14pt;
    margin: 1em;
}

.content div .blocktitle,
.content div .blocktext{
    display: block;
    width: 100%;
    margin: 0.5em 0;
}

.content div .blocktext{
    min-height: 10em;
}

.content .save{
    text-align: right;
    margin: 0 0.4em;
}

.content .save input[type="submit"]{
    width: 100%;
    margin: 1em 0;
}

.notfound{
    text-align: center;
}

.notfound p{
    margin: 2em 0;
}

@media only screen and (max-width: 929px) {
    nav {
        max-height: 30em;
    }
    #shownav:checked~nav {
        max-height: 0;
        padding: 0;
        opacity: 0;
    }
    .desktop {
        display: none;
    }

    .content .bigbutton{
        display: block;
        min-width: 18em;
        margin: auto;
    }

    .banner h1.title{
        width: calc(100% - 1em);
        margin: .5em;
        text-align: center;
        top: 58%;
    }
}

@media only screen and (min-width: 930px) {
    header {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .banner img {
        width: 100%;
        transform: none;
    }

    header .bar {
        border-bottom: none;
    }

    header .hamburger {
        display: none;
    }
    
    nav {
        opacity: 1;
        flex: 1;
        padding: 0;
        position: relative;
        justify-content: flex-end;
        align-items: center;
        margin-right: 5em;
        text-align: right;
    }
    
    nav a {
        text-align: center;
        width: auto;
        display: inline-block;
        margin: 0 0.7em;
        padding: 0.4em 0;
        font-weight: 600;
    }

    nav a::after, .above a::after {
        border-bottom: 0.15em solid;
        content: "";
        position: absolute;
        width: 0;
        bottom: 0;
        transition: width .2s, left .2s, opacity .1s;
        -webkit-transition: width .2s, left .2s, opacity .1s;
        -moz-transition: width .2s, left .2s, opacity .1s;
        -o-transition: width .2s, left .2s, opacity .1s;
        -ms-transition: width .2s, left .2s, opacity .1s;
        left: 50%;
        opacity: 0;
        border-radius: 0.1em;
    }
    nav a:not(.bigbutton):hover::after, nav a.current::after,
    .above a:not(.withborder):hover::after {
        width: 100%;
        left: 0;
        opacity: 1;
    }

    main{
        min-height: calc(100vh - 40em);
    }

    .mobile {
        display: none;
    }
    main .items {
        flex-direction: row;
    }
    main .items>div {
        margin: 0.5em;
    }

    header .bar {
        display: inline-block;
    }
    
    footer .footerwrapper .items{
        margin: 12vw auto 1em;
    }

    .content .save input[type="submit"]{
        max-width: 15em;
        margin-left: auto;
    }

    .content a.aanvraaginfo {
        position: absolute;
        top: -2em;
        max-width: 15em;
        align-self: flex-start;
    }
}