{{> head}}
<div class="content">
    <h2>Inloggen</h2>
    <div class="items">
        <div class="small">
            <h1>Succesvol geregistreerd</h1>
            <a href="/login">Login</a>
        </div>
    </div>
</div>

{{> footer}}